{% load static %}
<!--=============== Holy Ones ===============-->
    <style>
        .holy-ones-container.card {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: #3e5a8f;
            border: 2px solid #3e5a8f;
            transition: transform 0.2s ease-in-out;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .holy-ones-section .holy-ones-img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          margin: 0 auto 15px;
          border: 2px solid black;
          transition: transform 0.3s, border-color 0.3s;
        }
    </style>
    <section id="holy-ones" class="holy-ones-section scroll-reveal">
      <div class="holy-ones-container card scroll-reveal">
          
          <div id="holy-ones-title" class="sec-title">
              <h2>Our Holy Ones</h2>
          </div>
          <div class="holy-ones-container">
              <div class="holy-ones-card blessed-moreau">
                  <img 
                      data-src="{% static 'img/Fr.Moreau.jpg' %}"
                      src="{% static 'img/Fr.Moreau.jpg' %}" 
                      alt="Blessed Basile Moreau"
                      class="holy-ones-img image scroll-reveal lazyload"
                  />
                  <div class="holy-ones-details">
                      <h3 class="holy-ones-name">Blessed Basile Moreau</h3>
                      <p class="holy-ones-subtitle">
                          Founder of the Congregation of Holy Cross
                      </p>
                  </div>
                  <a href="{% url 'home:detailed_holyones' %}" class="read-more-btn">Read More</a>
              </div>
  
              <!-- Add more Holy Ones cards as needed -->
              <div class="holy-ones-card rev-dujarie">
                  <img
                      data-src="{% static 'img/Fr.Dujarie.jpg' %}"
                      src="{% static 'img/Fr.Dujarie.jpg' %}" 
                      alt="Rev. Jacques Dujarié"
                      class="holy-ones-img image scroll-reveal lazyload"
                  />
                  <div class="holy-ones-details">
                      <h3 class="holy-ones-name">Rev. Jacques Dujarié</h3>
                      <p class="holy-ones-subtitle">
                          Founder of the then Brothers of St. Joseph (Now Holy Cross Brothers)
                      </p>
                  </div>
                  <a href="{% url 'home:detailed_holyones' %}" class="read-more-btn">Read More</a>
              </div>
  
              <!-- Add more Holy Ones cards as needed -->
              <div class="holy-ones-card st-andre">
                  <img
                      data-src="{% static 'img/Br.Andre.png' %}"
                      src="{% static 'img/Br.Andre.png' %}" 
                      alt="St. André Bessette"
                      class="holy-ones-img image scroll-reveal lazyload"
                  />
                  <div class="holy-ones-details">
                      <h3 class="holy-ones-name">St. André Bessette</h3>
                      <p class="holy-ones-subtitle">
                          Miracle Worker & Healer And 1st Saint from Holy Cross
                      </p>
                  </div>
                  <a href="{% url 'home:detailed_holyones' %}" class="read-more-btn">Read More</a>
              </div>
  
              <!-- Add more Holy Ones cards as needed -->
              <div class="holy-ones-card sg-flavian">
                  <img
                      data-src="{% static 'img/Br.Flavian.jpg' %}"
                      src="{% static 'img/Br.Flavian.jpg' %}" 
                      alt="S.G Flavian Laplante"
                      class="holy-ones-img image scroll-reveal lazyload"
                  />
                  <div class="holy-ones-details">
                      <h3 class="holy-ones-name">S.G Flavian Laplante</h3>
                      <p class="holy-ones-subtitle">
                          Friend of fishermen & Founder of Mariam Ashram
                      </p>
                  </div>
                  <a href="{% url 'home:detailed_holyones' %}" class="read-more-btn">Read More</a>
              </div>
          </div>
      </div>
  </section>

 