{% load static %}
<!--=============== OUR MINISTRIES ===============-->

    <section id="ministry" class="ministry-section scroll-reveal">
      <div id="ministry-title" class="sec-title">
          <h2>Our Ministries</h2>
        </div>
      <div class="ministry-container scroll-reveal">
        <div class="mininstry-item">
          <i class="material-icons">school</i>
          <h5 class="card-title">School & College</h5>
        </div>

        <div class="mininstry-item">
          <i class="material-icons">construction</i>
          <h5 class="card-title">Technical School</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-icons">local_hospital</span>
          <h5 class="card-title">Rehabilitation Center</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-icons">group</span>
          <h5 class="card-title">Youth Formation</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-icons">self_improvement</span>
          <h5 class="card-title">Ashram and Retreat Center</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-icons white-icon">hotel</span>
          <h5 class="card-title">Hostel</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-symbols-outlined">local_library</span>
          <h5 class="card-title">Literacy School</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-icons">emoji_people</span>
          <h5 class="card-title">Teaching in Major Seminary</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-symbols-outlined">menu_book</span>
          <h5 class="card-title">Publications</h5>
        </div>

        <div class="mininstry-item">
          <span class="material-symbols-outlined"> partner_exchange </span>
          <h5 class="card-title">Guidance & Councelling</h5>
        </div>
      </div>
    </section>