{% extends 'mainbase.html' %}

{% block content %}
<!-- Modal Background -->
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50">
    <!-- Modal Content -->
    <div class="max-w-3xl w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-6 text-center">{{ photo.title }}</h1>
        <p class="text-lg text-gray-700 mb-4 text-center">{{ photo.description }}</p>
        <!-- Set max-w for the image to control its size -->
        <img src="{{ photo.image.url }}" class="max-w-full h-auto rounded-lg shadow-md mb-4" alt="{{ photo.title }}">
        <div class="flex justify-center mt-6">
            <a href="{{ photo.album.get_absolute_url }}" class="inline-block text-white font-semibold bg-blue-600 hover:bg-blue-800 transition duration-300 ease-in-out px-6 py-3 rounded-lg shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                Back to Album
            </a>
        </div>
    </div>
</div>
<!-- Overlay to close modal on click -->
<div class="fixed inset-0" onclick="window.history.back();"></div>
{% endblock %}
